// Sass variables!

// body variables
$textClr: rgb(44, 44, 44);
$bdyFont: bold 20px/50px Georgia, serif;

// btn variables
$primaryBtn: linear-gradient(to right, #02aab0 0%, #00cdac 51%, #02aab0 100%);
$borderBtn: 2px solid rgba(55, 90, 206, 0.801);
$radiusBtn: 10px;
$btnWidth: 15%;
$btnHeight: 8%;
$btnFont: italic bold 12px/30px Georgia, serif;
$btnBckSize: 200% auto;
$btnTransition: 0.5s;

// Sass @import! + Sass @extend!

@import "./header";

.contact {
  @include flexCenter(column, #46c3db);
  @extend header;
}

.info {
  @include flexCenter(column, #f3f169);
  @extend .contact;
}

// Animation

span {
  opacity: 0;
  transition: all 0.4 ease;
  display: inline-block;

}
.move {
  opacity: 1;
  display: inline-block;
  
}